.booking-page {
  position: relative;
  min-height: 100vh;
  /* Static background removed for 3D Scene */
  /* background: url('../assets/bg-lounge.jpg') no-repeat center center/cover; */
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  /* Navbar height */
  overflow: hidden;
}

.booking-scene-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.booking-container {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}